a2wsgi==1.10.10
agents==1.4.0
aiocontextvars==0.2.2
aiodns==3.5.0
aiodynamo==24.7
aioquic==1.2.0
apache_beam==2.67.0
apscheduler==3.11.0
asttokens==3.0.0
atheris==2.3.0
authlib==1.6.3
backoff==2.2.1
billiard==4.2.1
blinker==1.9.0
blobfile==3.1.0
botocore==1.40.28
brotli==1.1.0
brotlicffi==1.1.0.0
channels==4.3.1
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
ctypes_snappy==1.03
curio==1.6
cx_Oracle==8.3.0
cython==3.1.3
ddtrace==3.13.2
diskcache==5.6.3
distributed==2025.9.0
djangorestframework==3.16.1
docutils==0.22
enterprise==0.4.2
eval_type_backport==0.2.2
eventlet==0.40.3
exceptiongroup==1.3.0
fastai==2.8.4
fastapi_sso==0.18.0
fastparquet==2024.11.0
flask_login==0.6.3
fqdn==1.5.1
gevent==25.8.2
gradio==5.45.0
gunicorn==23.0.0
h2==4.3.0
hf_transfer==0.1.9
HTMLParser==0.0.2
httpx_aiohttp==0.1.8
hypercorn==0.17.3
hypothesis==6.138.15
importlib_resources==6.5.2
InquirerPy==0.3.4
ipython==9.5.0
ipywidgets==8.1.7
isal==1.8.0
isoduration==20.11.0
itsdangerous==2.2.0
jnius==1.1.0
js==1.0
jsonpath_ng==1.7.0
jsonpointer==3.0.0
kerchunk==0.2.9
keyring==25.6.0
kombu==5.5.4
langchain_core==0.3.76
ldclient==0.0.1
litellm_enterprise==0.1.19
litellm_proxy_extras==0.2.18
logfire==4.6.0
loop==1.0.0
lz4==4.4.4
lzmaffi==0.3.0
mangum==0.19.0
mask==1.0.0
matplotlib==3.10.6
nacl==0.0.0
numpy==2.3.3
numpydoc==1.9.0
objgraph==3.6.2
orjson==3.11.3
outcome==1.3.0.post0
pandas==2.3.2
paramiko==4.0.0
Pillow==11.3.0
polars==1.33.1
posthog==6.7.4
prisma==0.15.0
prometheus_client==0.22.1
proto==0.0.1
protobuf==6.32.0
psutil==6.1.1
py4j==0.10.9.9
pyarrow==21.0.0
pygit2==1.18.2
PyJWT==2.10.1
pyodide==0.0.2
pyOpenSSL==25.1.0
pyperf==2.9.0
pyspark==4.0.1
pysqlcipher3==1.2.0
pytest==8.4.2
python_socks==2.7.2
quart_auth==0.11.0
rediscluster==0.5.3
redisvl==0.8.2
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
safetensors==0.6.2
semantic_router==0.1.11
setuptools_scm==9.2.0
simplejson==3.20.1
slack_bolt==1.25.0
slack_sdk==3.36.0
smbprotocol==1.15.0
socksio==1.0.0
sounddevice==0.5.2
speedups==1.4.0
Sphinx==8.2.3
sqlcipher3==0.5.4
sse_starlette==3.0.2
tenacity==9.1.2
tensorboardX==2.6.4
tensorflow==2.20.0
tf_keras==2.20.1
toml==0.10.2
torch==2.8.0
torch_xla==2.8.1
transformers==4.56.1
ujson==5.11.0
UnleashClient==6.3.0
uri_template==1.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uwsgi==2.0.30
vertexai==1.71.1
wandb==0.21.3
webcolors==24.11.1
WebOb==1.8.9
Werkzeug==3.1.3
wmi==1.5.1
wsproto==1.2.0
xmlrpclib==1.0.1
zstandard==0.24.0
